.root{
-fx-background-color: white;
}


.addStudentbtn{
-fx-background-color: transparent;
-fx-text-fill: black;
-fx-border-width: 2px 2px 2px 2px;
-fx-border-color: black;
}

.loginbox{
-fx-border-width: 0px 2px 0px 0px;
-fx-border-color: black;

}

.addStudentFinalbtn{
-fx-background-color: transparent;
-fx-text-fill: black;
-fx-border-width: 0px 0px 2px 0px;
-fx-border-color: black;

}